.container {
  
  a {
    transition: transform 0.2s;
		font-size: 3rem;
    &:hover {
			transform: scale(110%);
		}
	}
}

.logo {
	// width: 200px;

	// object-fit: fill;

	// filter: invert(100%);
	// font-size: 2rem;
	// fill: white;  // color: white;
}


.copyright{
	background-color: #494848;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
	margin-top: 2rem;
}